.wrapper{width:1366;

}
.navbar{
	font-family:Verdana;
	width:1342px;
	height:100px;
	background-color:cyan;
}

.profpic{padding:20px;
	width:250px;
	float:left;
	border: 2px solid black;
	background-color:white;
}
.cover{width:1080px;
height:335px;
float:left;
}

.navbar a{color:black;
}

.nav li a:hover{background:orange;
}

.about{ padding:20px;
width:250px;
float:left;
border: 2px solid black;
background-color:white;
}

.dream {
width:250px;
padding:20px;
border: 2px solid black;
float:left;
background-color:white;
}

.contents1{width:1065px;
float:right;
height:240px;
padding:5px;
margin-left:10px;
border: 2px solid black;
background-color:white;
}

.contents2{width:1065px;
background-color:white;
float:right;
height:240px;
padding:5px;
margin-left:10px;
margin-top:10px;
border: 2px solid black;
}


.table li a:hover{background:cyan;

}

.table a{color:black;
margin-left:20px;}
