html,body{
	margin: 0;
	padding:0;
}

.navbar{
	font-family: verdana;
	background-color: #4474E0; 
}

.navbar a{
	color:white;
}

.menu{
	min-height: 485px;
	background-color: #757569;
}

.vertical-menu li {

    color: black; 
    display: block; 
    padding: 12px; 
    text-decoration: none; 
    width: 100%;
    margin: 0;
}
.vertical-menu a{
	color: white;
}

.vertical-menu a:hover{
	color: black;
}

.vertical-menu li:hover {
	text-decoration:underline;
}

.vertical-menu li.active {

    text-decoration:underline;
}

#footer {
   position:absolute;
   bottom:0;
   margin: 0;
   height:60px; 
   padding-top: 20px;
}

