
.wrapper{
	width:1350px;
	height:622px; 
	
}
.header{
	width:1340px;
	font-family:Arial;

}
.login{
	width:300px;

	padding:10px;
}
.register{
	width:320px;
	padding:10px;
	height:360px;
}
.footer{
	width:1330px;
	padding:10px;
	text-align:center;
}

.input-field{
	border-radius:15px;
	height:30px;
	width:220px;
	padding:10px;
		 background-color:rgba(255,255,255,0.5);
	
}

.boxes{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7);

	padding-left:40px;
	padding-top:20px;
	height:175px;
	width:300px;
	border-radius:25px;
	border: 2px solid black;
	 background-color:rgba(255,255,255,0.1);
}
.box2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
	margin-top:50px;
	margin-bottom:37px;
	padding-left:40px;
	padding-top:20px;
	height:300px;
	width:300px;
	border-radius:25px;
	border: 2px solid black;
	 background-color:rgba(255,255,255,0.1);
}
ul li{
  display: inline;
  color:white;
  font-size:15px;
	padding-top:30px;
	margin-left:30px;
	
}
li 	a{
	color:white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
.title{
color:white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
	
}
